<div class="list row my-3">
    <div class="fixed-bottom bg-primary text-white text-center" *ngIf="currentState">
        <div class="container my-4">
            <div class="row">
                <div class="col-12">
                    <h3>{{currentState.state}}</h3>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <p>
                        <label><strong>Active Cases</strong></label><br> {{ currentState.active }}
                    </p>
                    
                </div>
                <div class="col-6">
                    <p>
                        <label><strong>Cases</strong></label><br>{{ currentState.cases }}
                    </p>
                </div>
            </div>
        </div>    
      </div>
    <div class="col-md-8 my-3">
        <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
          [(ngModel)]="searchText" placeholder="Enter text to search" 
          autofocus>
    </div>
    <div class="col-md-6">
      <h4 class="text-center">States</h4>
      <ul class="list-group ">
        <li
          class="list-group-item text-center"
          *ngFor="let state of states | appFilter: searchText; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveState(state, i)"
        >
          {{ state.state }}
        </li>
      </ul>
      
    </div>
  </div>
