<ul class="nav justify-content-center mt-2">
    <li class="nav-item">
      <a class="nav-link active" href="/covid-tracker/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/covid-tracker/states">State Cases</a>
    </li>
  </ul>