<div class="jumbotron mt-4">
    <h1 class="display-4">Global Covid-19</h1>
    <p class="lead">Active Cases<br>{{global.active}}</p>
    <hr>
    <p class="lead">Deaths <br>{{global.deaths}}</p>
    <hr>
    <p class="lead">Recovered<br>{{global.recovered}}</p>
    <hr>
    <small>Updated: {{global.updated | date}}</small>   
    <p class="mt-3">
      <a class="btn btn-primary btn-lg" href="https://www.cdc.gov/coronavirus/2019-ncov/symptoms-testing/symptoms.html" role="button">Learn more</a>
    </p>
  </div>